.purple_copy_color, .work_h1, .work_h2 {
    color: #F5EFE4;
}

.project_flex {
    display: flex;
    flex-direction: column;
}

.project_page_header {
    width: 100%;
    height: 100%;
}

.project_page_image {
    width: 65%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.work_h2 {
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    width: 500px;
}

.project_explanation {
    padding-top: 80px;
    padding-bottom: 80px;
}

.project_explanation, .project_photos, .button_section {
    background-color: #F5EFE4;
}

h3 {
    font-size: 23px;
    padding-bottom: 25px;
}

.work_p {
    text-align: left;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
}

.supporting_image {
    width: 100%;
    padding-bottom: 80px;
}

.launch_button {
    font-family: ff-basic-gothic-pro, sans-serif;
    width: 200px;
    padding: 0px;
    height: 40px;
    border: 1px solid #5C157D;
    background-color: #5C157D;
    color: #F5EFE4;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 80px;
}

@media only screen and (min-width: 200px) {
    .purple_copy_color:link {
        text-decoration: none;
    }
    .purple_copy_color:visited {
        color: #F5EFE4;
    }
}

@media only screen and (max-width: 274px) {
    .work_h2 {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .work_p {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .supporting_image {
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 275px) and (max-width: 500px) {
    .work_h2 {
        width: 275px;
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    .work_p {
        width: 275px;
        font-size: 18px;
    }
    .supporting_image {
        padding-bottom: 30px;
    }
    .launch_button {
        margin-top: 40px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
    .work_h2 {
        width: 400px;
    }
    .work_p {
        width: 400px;
        font-size: 20px;
    }
    .supporting_image {
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 750px) {
    .purple_copy_color:hover {
        color: #F15361;
    }
    .launch_button:hover {
        width: 205px;
        height: 42px;
    }
}