.writing_mobile {
    display: none;
}

.writing_tablet {
    display: none;
}

.writing_flex {
    display: flex;
    justify-content: space-evenly;
    margin: 0, 0;
    padding: 0, 0;
}

.work_block {
    height: 300px;
    width: 100%;
}

.color_one {
    background-color: #F15361;
}

.color_two {
    background-color: #5C157D;
}

.color_three {
    background-color: #05A6A6;
}

.color_four {
    background-color: #589B71;
}

.color_five {
    background-color: #FE7600;
}

.project_header {
    color: #F5EFE4;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: left;
}

.services {
    color: #F5EFE4;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: right;
}

.brand_image {
    height: 175px;
}

@media only screen and (max-width: 899px) {
    .writing_desktop {
        display: none;
    }
    .writing_mobile {
        display: none;
    }
    .writing_tablet {
        display: inline;
    }
}

@media only screen and (max-width: 599px) {
    .writing_desktop {
        display: none;
    }
    .writing_tablet {
        display: none;
    }
    .writing_mobile {
        display: flex;
        flex-direction: column;
    }
}