.orange_copy_color {
    color: #F5EFE4;
}

.orange_button {
    border: 1px solid #FE7600;
    background-color: #FE7600;
}

@media only screen and (min-width: 200px) {
    .orange_copy_color:link {
        text-decoration: none;
    }
    .orange_copy_color:visited {
        color: #F5EFE4;
    }
}

@media only screen and (min-width: 750px) {
    .orange_copy_color:hover {
        color: #589B71;
    }
}