.coding_flex {
    display: flex;
    justify-content: space-evenly;
    margin: 0, 0;
    padding: 0, 0;
}

@media only screen and (min-width: 750px) {
    .coding_circle {
        height: 100px;
        width: 100px;
    }
    .work_header {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 899px) {
    .coding_desktop {
        display: none;
    }
    .coding_mobile {
        display: none;
    }
    .coding_tablet {
        display: inline;
    }
}

@media only screen and (max-width: 599px) {
    .coding_desktop {
        display: none;
    }
    .coding_tablet {
        display: none;
    }
    .coding_mobile {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 200px) {
    .work_header {
        padding-bottom: 75px;
    }
    .coding_circle {
        height: 75px;
        width: 75px;
        background-color: #f8f8ff;
        border-radius: 50%;
        display: inline-block;
    }
    .icon {
        width: 100%;
    }
    .inline_link {
        color: #05A6A6;
    }
    .inline_link:visited {
        color: #05A6A6;
    }
}