@media only screen and (min-width: 200px) {
    main {
        text-align: center;
    }
    header {
        padding-top: 75px;
    }
    h1 {
        font-family: lust-script, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
    }
    .line_height {
        line-height: 40px;
    }
    .skyline {
        width: 100%;
    }
    .introduction, .contact {
        background-color: #F5EFE4;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .abilities {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .circle {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
    }
    h2 {
        font-family: rig-solid-bold-fill, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
    }
    .big_circle {
        height: 75px;
        width: 75px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        margin-top: 35px;
    }
    .headline {
        font-weight: 700;
    }
    .email_button {
        font-family: ff-basic-gothic-pro, sans-serif;
        width: 200px;
        padding: 0px;
        height: 40px;
        border: 1px solid #05A6A6;
        background-color: #05A6A6;
        color: #D6F5F7;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 750px) {
    header {
        padding-top: 100px;
    }
    h1 {
        font-size: 60px;
    }
    .skyline {
        width: 90%;
    }
    .introduction, .abilities, .contact {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 200px;
        padding-left: 200px;
    }
    .circle {
        height: 60px;
        width: 60px;
    }
    h2 {
        font-size: 40px;
    }
    .email_button:hover {
        width: 205px;
        height: 42px;
    }
}