@media only screen and (min-width: 200px) {
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #D6F5F7;
    font-family: ff-basic-gothic-pro, sans-serif;
    font-style: normal;
    font-weight: 80;
    font-size: 18px;
    color: #081A40;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}